<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebAppTestWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
    </system.web>

    <applicationSettings>
        <WebAppTestWebService.Properties.Settings>
            <setting name="WebAppTestWebService_th_co_lmginsurance_ebizuat_Service1"
                serializeAs="String">
                <value>https://ebizuat.lmginsurance.co.th/Webservices/NewQ2I.Webservice/service1.asmx</value>
            </setting>
            <setting name="WebAppTestWebService_com_tunemotions_www_Service"
                serializeAs="String">
                <value>http://www.tunemotions.com/webservice/service.asmx</value>
            </setting>
        </WebAppTestWebService.Properties.Settings>
    </applicationSettings>
<connectionStrings><add name="SilkspanEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dbcenter;initial catalog=Silkspan;persist security info=True;user id=webapp;password=5e5@Me;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
